name: Run pytest

on:
  push:
    branches: [ "master", "shakedzy:master" ]
    paths-ignore:
      - "README.md"
      - "CHANGELOG.md"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - "VERSION"
      - "LICENSE"
      - ".gitignore"
  pull_request:
    types: [opened, reopened, edited, synchronize]
    branches: [ "master", "shakedzy:master" ]
    paths-ignore:
      - "README.md"
      - "CHANGELOG.md"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - "VERSION"
      - "LICENSE"
      - ".gitignore"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r dev_requirements.txt
        pip install .
    - name: Test with pytest
      run: |
        pytest
